<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <form   [formGroup]="form" (ngSubmit)="onSubmit()">
        <input class="form-control" placeholder="login" formControlName="username">
        <input class="form-control mt-2" placeholder="password">
        <button type="submit" class="form-control mt-2 w-75 mx-auto">Zaloguj się</button>
        <div class="mt-2">
            <a routerLink="/account/signup" class="mr-2">Zarejestruj się </a>
            <a routerLink="/account/forgot"class="1">Przypomnij hasło</a>
        </div>
    </form>
</div>
