
<div class="container-fluid">
    <div class="row">
    <nav class="sidebar col-md-1.5 bg-dark">
      <div class="sidebar-sticky">
        <div class="d-flex justify-content-center">
          <h1 class="logo pt-3">CGG</h1>
        </div>
        <ul class="nav flex-column">
          <hr>
          <li class="nav-item mb-3">
            <a  class="nav-link active"><i class="bi bi-house pr-2"></i><span>Home</span></a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/offer" class="nav-link"><i class="bi bi-file-earmark pr-2"></i><span>Zlecenia</span></a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/offer/new" class="nav-link"><i class="bi bi-file-earmark-plus pr-2"></i><span>Nowe Zlecenie</span></a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/client" class="nav-link"><i class="bi bi-person pr-2"></i><span>Klienci</span></a>
          </li>
          <hr>
        </ul>
      </div>
    </nav>
    
    <main class="col-md-10">
      <router-outlet></router-outlet>
    </main>
    </div>
  </div>












