  <div class="container-fluid">
    <div class="row mt-3 text-dark d-flex justify-content-center">
      <div class="col-md-10">
        <ul class="list-group">
          <li class="list-group-item" *ngIf="offer">
            <h5>
              #{{offer.id}} {{offer.client.name}} {{offer.client.nip}},
              <span>{{offer.street}}, {{offer.postalCode}} {{offer.city}}</span>
            </h5>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-group">
                    <li class="list-group-item">
                      Id klienta:
                      <span class="badge">#{{offer.clientId}}</span>
                    </li>
                    <li class="list-group-item">
                      Produktów:
                      <span class="badge">{{offer.productsCount}}</span>
                    </li>
                    <li class="list-group-item">
                      Suma cen produktów:
                      <span class="badge">{{offer.productsPrice}}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                    <div class="list-group-item">
                      <label for="descTextArea" class="">Opis:&nbsp;</label>
                      <textarea disabled rows="4.5" class="" id="descTextArea">{{offer.description}}</textarea>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <table class="table table-striped table-condensed">
                    <thead>
                      <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th>Cena łączna</th>
                        <th>Opis</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of offer.products let i = index">
                        <td><input type="checkbox" (change)="onCheckBoxChange($event, i)" id="product{{i}}"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.quantity}} <input type="checkbox" (change)="onCheckBoxChange($event, i)" id="quantity{{i}}"></td>
                        <td>{{product.priceEach}} <input type="checkbox" (change)="onCheckBoxChange($event, i)" id="priceEach{{i}}"></td>
                        <td>{{product.priceTotal}} <input type="checkbox" (change)="onCheckBoxChange($event, i)" id="priceTotal{{i}}"></td>
                        <td>{{product.description}} <input type="checkbox" (change)="onCheckBoxChange($event, i)" id="description{{i}}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <div class="list-group list-group-horizontal float-right">
                  <a (click)="addHtmlCode()" class="list-group-item">Konwertuj</a>
                </div>
              </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> 
  </div>